name: Run Database Testing
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Tailscale
        uses: tailscale/github-action@v1
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
          
      - uses: actions/checkout@v3
      
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      
      - name: Set up Python 
        uses: actions/setup-python@v4
        with:
          python-version: "3.10.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -r ./database_tests/requirements.txt
      - name: Test
        run: SQL_PASSWORD=${{ secrets.SQL_PASSWORD }} SQL_IP=${{ secrets.SQL_IP }} python database_tests/test.py
